body {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.9px;
    color: #1F0802;
    background-color: #A0CD60;
}

#hero-title {
    text-align: center;
    text-shadow: 2px 2px #CEF09D;
    color: #38184C;
    font-size: 45px;
    font-weight: 900;
}

#menu {
    text-align: left;
    font-weight: 400;
}

.topics {
    background-color: #CEF09D;
    text-shadow: 2px 2px #A0CD60;
    color: #38184C;
    font-weight: 700;
    font-size: 24px;
}

#selfie {
    border-radius: 10%;
}

#main-text {
    font-weight: 500;
    text-align: justify;
}

.list {
    font-weight: 500;
    text-align: left;
}

.highlight {
    text-shadow: 2px 2px #CEF09D;
    color: #38184C;
}

.italic {
    text-shadow: 2px 2px #A0CD60;
    color: #38184C;
}

/* Color Theme Swatches in Hex
.Amazon-Woman-1-hex { color: #CEF09D; }
.Amazon-Woman-2-hex { color: #1C646D; }
.Amazon-Woman-3-hex { color: #1F0802; }
.Amazon-Woman-4-hex { color: #38184C; }
.Amazon-Woman-5-hex { color: #A0CD60; }

/* Color Theme Swatches in RGBA */
/* .Amazon-Woman-1-rgba { color: rgba(205, 239, 156, 1); }
.Amazon-Woman-2-rgba { color: rgba(28, 100, 109, 1); }
.Amazon-Woman-3-rgba { color: rgba(31, 8, 2, 1); }
.Amazon-Woman-4-rgba { color: rgba(56, 23, 75, 1); }
.Amazon-Woman-5-rgba { color: rgba(160, 205, 96, 1); } */ 