body {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.9px;
    color: #A0CD60;
    background-color: #38184C;
}

#hero-title {
    text-align: center;
    text-shadow: 2px 2px #1F0802;
    color: #A0CD60;
    font-size: 45px;
    font-weight: 900;
}

#menu {
    text-align: left;
    font-weight: 400;
}

.topics {
    text-shadow: 2px 2px #38184C;
    color: #A0CD60;
    font-weight: 700;
    font-size: 20px;
}

#selfie {
    border-radius: 10%;
}

#main-text {
    font-weight: 500;
    text-align: justify;
}

.list {
    font-weight: 500;
    text-align: left;
}

.highlight {
    text-shadow: 2px 2px #38184C;
    color: #CEF09D;
}

.italic {
    text-shadow: 2px 2px #38184C;
    color: #CEF09D;
}